@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-FD-NL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("./assets/fonts/Vazirmatn-FD-NL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body{
  margin: 0;
}
* {
  font-family: "Vazirmatn", sans-serif;
  direction: rtl;
  text-align: right;
}